html{
    height: 100vh;
}

body{
    margin: 0;
    min-height: 100vh;
}
img{
    width: 50%;
    max-height: 600px;
}

h1{
    font-size: 50px;
}
#all{
    display: flex;
    min-height: 95vh;
}

#center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}
.site{
    margin: 2.5%;
    width: 45%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#questions{
    height: 80%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
#question{
    flex-direction: column;
    font-size: xx-large;
    text-align: center;
    margin: 45px;
    position: relative;
}

#question button{
    text-align: center;
    border-radius: 20%;
    border-width: 1px;
    align-self: center;
}

#answer{
    height: 80%;
    width: 70%;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#answer h2{
    font-size: 50px;
}
#answer p{
    font-size: 60px;
    text-align: center;
}


#forms{
    display: flex;
    align-self: center;
    justify-content: space-around;
    font-size: x-large;
}

#forms button{
    border-radius: 20%;
    border-width: 1px;
}
form{
    height: 80%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 5%;
}
input[type='text']{
    margin: 25px;
}
input[type='submit']{
    width: 30%;
}

#players{
    list-style-type: none;  
    list-style-position: inside;
    padding-inline-start: 0; 
    font-size: xx-large;
    text-align: center;
}


/* Navbar */
navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
}

navbar li {
    float: left;
}

navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
navbar li a:hover {
    background-color: #111;
}

#next{
    position:absolute;
    bottom: 0;
    right: 0;
    margin: 15%;
    font-size:xx-large;
}
#next:link  {
    text-decoration: none;
}

#next:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

#next:hover {
text-decoration: underline;
}

#next:active {
text-decoration: underline;
}
