html{
  height: 100vh;
}
body{
  margin: 0;
  min-height: 100vh;
}

#all{
  display: flex;
  min-height: 95vh;
}

h1{
  font-size: 35px;
}
p{
  font-size: larger;
}

.player{
  font-size: 35px;
}

#center{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 34%;
}

.site{
  width: 33%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#scoreboard{
  font-size: 50px;
  text-align: center;
}

div.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 300px;
  border-radius: 5px;
}

div.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add questions */
#add{
  margin: 40px;
  text-align: center;
  padding: 10%;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
input[type='text']{
  margin: 25px;
}
input[type='submit']{
  width: 30%;
}
/* Navbar */
  navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
  }
  
  navbar li {
    float: left;
  }
  
  navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  navbar li a:hover {
    background-color: #111;
  }