#rules{
    display: flex;
    align-items: center;
    justify-items: space-around;
    flex-direction: column;
    text-align: center;
    margin: 30px;
}

h1{
  font-size: 80px;
  margin: 10px;
}

#list_rules li, p{
  font-size: larger;
}
img{
    width: 50%;
    height: 90vh;
}

#start{
  font-size: xx-large;
}

#index{
    display: flex;
}

#rules ul{
    list-style-position: inside;
}
#rules li{
    padding-inline-start: 0;
    margin: 8px;
}

#start:link  {
    text-decoration: none;
  }
  
  #start:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  
  #start:hover {
    text-decoration: underline;
  }
  
  #start:active {
    text-decoration: underline;
  }

/* Navbar */
navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
    box-shadow: #111;
  }
  
navbar li {
    float: left;
  }
  
navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
navbar li a:hover {
    background-color: #111;
  }