{%extends 'layout_quiz.html'%}

{% load random_numbers %}

{%block body%}
    <div class='card' id='questions'>
        <h1>{{current_player.name}}</h1>
        <div id='question' style="display: flex;">
            <p>{{ questions.question }}</p>
            <button id='question' onclick = "
            document.getElementById('answer').style.display = 'flex';
            document.getElementById('question').style.display = 'none';
            document.getElementById('skip').style.display = 'none';">→</button>
        </div>
        <form id='skip' action="{% url 'questions' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="skip" value="true" />
            <button type="submit">Skip</button>
        </form>
        <div id='answer' style="display: none;">
            <h2>Odpowiedź: </h2>
            <p>{{ questions.answer }}</p>
            <div id='forms'>
                <form action="{% url 'questions' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="add_points" value="true" />
                    <button type="submit">Dobrze</button>
                </form>
                <form action="{% url 'questions' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="no_points" value="true" />
                    <button type="submit">Źle</button>
                </form>
            </div>
            <a id='next' href= {% url 'scoreboard'%}>End</a>
        </div>
    </div>

{% endblock %}